# D206 Data Cleaning Performance Assessment
By Luis Medina, Student ID 012020203

## A: Research Question 
The research question is "Is there a relationship between readmission of a patient and a patient having highblood pressure." Having highblood pressure can often lead to many more health problems in the future. So, by looking one of the roots problems we can see if this is start into helping people avoid readmission at a hostipal.

## B: Required Variables
This dataset contains a total of 52 columns and 10,000 customers, which are the rows. Each row relates to a patient and thier hospital admission. Each variable will be summarized here. 

* CaseOrder (int64), example: 1
    This column is the index of the data, and keeps the data in order.
* Customer_id (int64), example: C412403
    This column is an ID for the patient.
* Interaction (object), example 8cd49b13-f45a-4b47-a2bd-173ffa932c2f
    This column is also an ID.
* UID (object), example: 3a83ddb66e2ae73798bdf1d705dc0932
    This column like the one before is used for ID purpose but it's not intended to be human readable.
* City (object), example: Eva
* State (object), example: AL
* County (object), example: Morgan
* Zip (int64), example: 35621
* Lat (float64), example: 34.34960
* Lng (float64), example: -86.7251
    This two columns is for location of the patient's residence that is listed on the billing statement.
* Population (int64), example: 2951 
    This column is the population within a mile radius of the patient
* Area (object), example: Suburban 
* TimeZone (object), example: America/Chicago
    This column is for the time zone of the patient residence based on the patient's sign-up information.
* Job (object), example: Psychologist, sport and exercise
    This column refers to the occupation of the patient or primary insurance holder. 
* Children (float64), example: 1
    This column is just for the number of children in the patient's household.
* Age (float64), example: 53
    This is for the age of the patient reported in admission information
* Education (object), example: Some College, Less than 1 Year
    This column is the highest earned degree of the patient
* Employment (object), example: Full Time
    For this column it tells us the employment status of the patient.
* Income (float64), example: 86575.93
    The annual income of the patient or primary insurnace holder as reported on admission information.
* Marital (object), example: Divorced
    This is the marital status of the patient or primary insurance holder
* Gender (Object), example: Male
    For this the patient self-indentification as male, female, or nonbinary 
* ReAdmis (Object), example: No
    For this column it indicates if whether or not the patient was readmitted within 1 month of release.
* VitD_levels (float64), example: 17.802330
    This is the patient's vitamin D levels as measured in ng/mL.
* Doc_visits (int64), example: 6
    Here is the number of times the primary physician visisted the patient during the initial hospitalization.
* Full_meals_eaten (int64), example: 0
    For this column it's the number of full meals the patient ate while hospitalized.
* VitD_supp (int64), example: 0 
    This column is the number of Vitamin D supplements the patient was provided. 
* Soft_drink (object), example: NaN
    This column is if the patient habitually drinks three or more sodas in a day.
* Initial_admin (object), example: Emergency Admission
    How the patient was admitted into the hospital initially.
* HighBlood (object), example: Yes
    A binary variable, that indicates if a patient has high blood pressure or not.
* Stroke (object), example: No
    A binary variable, whether the patient has had a stroke.
* Complication_risk (object), example: Medium
    Category for the level of complication risk for the patient as assessed by a primary patient assessment
* Overweight (float64), example: 0.0
    A binary variable, to indicate whether a patient is overweight based on age, gender, and height.
* Arthritis (object), example: Yes
    A binary variable, to indicate whether the patient has arthiritis.
* Hyperlipidemia (object), example: No
    A binary variable, to indicate wheter the patients has hyperlipidemia.
* BackPain (object), example: Yes
    A binary variable, to indicate whether the patient has chronic back pain
* Anxiety (float64), example: 1.0
    A binary variable, to indicate whether the patient has an anxiety disorder.
* Allergic_rhinitis (object), example: Yes
    A binary variable, to indicate whether the patient has allergic rhinitis.
* Reflux_esophagitis (object), example: No
    A binary variable, to indicate whether the patient has reflux esophagitis.
* Asthma (object), example: Yes
    A binary variable, to indicate whether the patient has asthma.
* Services (object), example: Blood Work
    This column is the primary service the patient received while hospitalized.
* Initial_days (float64), example: 10.585770
    This is the number of days the patient stayed in the hostipal during the initial visit. 
* TotalCharge (float64), example: 3191.048774
    Here is the total amount charged to the patient daily. This value reflects an average per patient based on the total charge divided by the number of days hospitalized. 
* Additional_charges (float64), example: 17939.403420
    This column is the average amount charged to the patient for miscellaneous procedures, treatments, medicines, anesthesiology.
* Item1 (int64), example: 3
    For this column the variables represent responses to an eight-question survey asking customers to rate the importance of various factors/surfaces on a scale of 1 to 8. The question is for Timely admission.
* Item2 (int64), example: 3
    For this column the variables represent responses to an eight-question survey asking customers to rate the importance of various factors/surfaces on a scale of 1 to 8. The question is for Timely treatment.
* Item3 (int64), example: 2
    For this column the variables represent responses to an eight-question survey asking customers to rate the importance of various factors/surfaces on a scale of 1 to 8. The question is for Timely visits. 
* Item4 (int64), example: 2
    For this column the variables represent responses to an eight-question survey asking customers to rate the importance of various factors/surfaces on a scale of 1 to 8. The question is for Reliability.
* Item5 (int64), example: 4
    For this column the variables represent responses to an eight-question survey asking customers to rate the importance of various factors/surfaces on a scale of 1 to 8. The question is for Options.
* Item6 (int64), example: 3
    For this column the variables represent responses to an eight-question survey asking customers to rate the importance of various factors/surfaces on a scale of 1 to 8. The question is for Hours of treatment.
* Item7 (int64), example: 3
    For this column the variables represent responses to an eight-question survey asking customers to rate the importance of various factors/surfaces on a scale of 1 to 8. The question is for Courteous stff.
* Item8 (int64), example: 4
    For this column the variables represent responses to an eight-question survey asking customers to rate the importance of various factors/surfaces on a scale of 1 to 8. The question is for Evidence of active listening from doctor.

# C1: Plan to Assess Quality Of Data
Python will be used for all the cleaning of the data throughout the whole project. First, it will start with detecting any duplicate data, missing values, outliers, and fixing any data types. I will start with using .info() to check if every column is the right data type and fix which ever one needs fixing. Also, using the duplicate() method I will be able to see if there are duplicates in the columns that should have unique data or can also be handled by using the count() method.

# C2: Justification of Approach
The functions discussed in part 1, will be used so that we can get a summary of the data in order to identify any problems that we will face later. For example, the info() function will provide information of the data types for each column of the table making it easier to see what columns we need to change to the correct types. Using the count() or duplicate function will give us information on whether a column that is suppose to be unique in data has duplicates, so we can properly take care of. Finally, the describe() function will give us a statistical summary of the table to take into account any outliers or if we need to normalize the data.

# C3: Justification of Tools
For all the data cleaning needs and visualizations were created using only Python. Python was all that was needed to gather information about the tables and to clean the data from the dataframe. The two packages that were used in order to help with the cleaning of the data were Numpy and Pandas. Numpy provides functions that are useful when transforming data and Pandas was used to create a dataframe from the CSV file. After, that it made it easy to clean the data and gather information from the dataframe.

# C4: Provide the Code

In [1]:
# First import all the necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# create the dataframe and make a copy of it.
medical_data = pd.read_csv('medical_raw_data.csv', index_col=0)
medical_data_copy = medical_data.copy()
medical_data_copy.head(5)

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
1,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,-86.72508,...,3191.048774,17939.403420,3,3,2,2,4,3,3,4
2,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,-85.22907,...,4214.905346,17612.998120,3,4,3,4,4,4,3,3
3,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,-96.63772,...,2177.586768,17505.192460,2,4,4,4,3,4,3,3
4,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072,43.89744,-93.51479,...,2465.118965,12993.437350,3,5,5,3,4,5,5,5
5,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181,37.59894,-76.88958,...,1885.655137,3716.525786,2,1,3,3,5,3,4,3

In [3]:
# Check the data types of the columns and size of the dataset.
medical_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 52 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  object
 12  Timezone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            7412 non-null   float64
 15  Age                 7586 non-null   float64
 16  Education           10000 non-null  object
 17  Employment          10000 non-null  object
 18  Income              7536 non-null   float64
 19  Marital             10000 non-null  object
 20  Gender              10000 non-null  object
 21  ReAdmis             10000 non-null  object
 22  VitD_levels         10000 non-null  float64
 23  Doc_visits          10000 non-null  int64
 24  Full_meals_eaten    10000 non-null  int64
 25  VitD_supp           10000 non-null  int64
 26  Soft_drink          7533 non-null   object
 27  Initial_admin       10000 non-null  object
 28  HighBlood           10000 non-null  object
 29  Stroke              10000 non-null  object
 30  Complication_risk   10000 non-null  object
 31  Overweight          9018 non-null   float64
 32  Arthritis           10000 non-null  object
 33  Diabetes            10000 non-null  object
 34  Hyperlipidemia      10000 non-null  object
 35  BackPain            10000 non-null  object
 36  Anxiety             9016 non-null   float64
 37  Allergic_rhinitis   10000 non-null  object
 38  Reflux_esophagitis  10000 non-null  object
 39  Asthma              10000 non-null  object
 40  Services            10000 non-null  object
 41  Initial_days        8944 non-null   float64
 42  TotalCharge         10000 non-null  float64
 43  Additional_charges  10000 non-null  float64
 44  Item1               10000 non-null  int64
 45  Item2               10000 non-null  int64
 46  Item3               10000 non-null  int64
 47  Item4               10000 non-null  int64
 48  Item5               10000 non-null  int64
 49  Item6               10000 non-null  int64
 50  Item7               10000 non-null  int64
 51  Item8               10000 non-null  int64
dtypes: float64(11), int64(14), object(27)
memory usage: 4.0+ MB

Now going to look at the columns to see if they are suitable to change into categorical data types. The following columns we will look at are Area, Timezone, Education, and Employment.

In [4]:
# Look at the column Gender
medical_data_copy['Gender'].value_counts()

Female                  5018
Male                    4768
Prefer not to answer     214
Name: Gender, dtype: int64

In [5]:
# Checking column Area to see if suitable for categorical data
medical_data_copy['Area'].value_counts()

Rural       3369
Suburban    3328
Urban       3303
Name: Area, dtype: int64

In [6]:
# Checking column Timezone to see if suitable for categorical data
medical_data_copy['Timezone'].value_counts()

America/New_York                  3889
America/Chicago                   3771
America/Los_Angeles                937
America/Denver                     612
America/Detroit                    262
America/Indiana/Indianapolis       151
America/Phoenix                    100
America/Boise                       86
America/Anchorage                   50
America/Puerto_Rico                 43
Pacific/Honolulu                    34
America/Menominee                   14
America/Nome                        12
America/Indiana/Vincennes            8
America/Kentucky/Louisville          6
America/Sitka                        6
America/Toronto                      5
America/Indiana/Marengo              3
America/Indiana/Tell_City            3
America/North_Dakota/Beulah          2
America/Yakutat                      1
America/Indiana/Winamac              1
America/Indiana/Knox                 1
America/North_Dakota/New_Salem       1
America/Indiana/Vevay                1
America/Adak                         1
Name: Timezone, dtype: int64

In [7]:
# Checking column Education to see if suitable for categorical data
medical_data_copy['Education'].value_counts()

Regular High School Diploma                 2444
Bachelor's Degree                           1724
Some College, 1 or More Years, No Degree    1484
9th Grade to 12th Grade, No Diploma          832
Associate's Degree                           797
Master's Degree                              701
Some College, Less than 1 Year               642
Nursery School to 8th Grade                  552
GED or Alternative Credential                389
Professional School Degree                   208
No Schooling Completed                       133
Doctorate Degree                              94
Name: Education, dtype: int64

In [8]:
# Checking column Employment to see if suitable for categorical data
medical_data_copy['Employment'].value_counts()

Full Time     6029
Student       1017
Part Time      991
Unemployed     983
Retired        980
Name: Employment, dtype: int64

Now we are going to check on the columns Children, Age, and Income to make sure no column has unreasonable bounds.

In [9]:
# Check if Age is within reasonable range.
medical_data_copy['Age'].describe()

count    7586.000000
mean       53.295676
std        20.659182
min        18.000000
25%        35.000000
50%        53.000000
75%        71.000000
max        89.000000
Name: Age, dtype: float64

In [10]:
# Check if Children is within reasonable range.
medical_data_copy['Children'].describe()

count    7412.000000
mean        2.098219
std         2.155427
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max        10.000000
Name: Children, dtype: float64

In [11]:
# Check if Income is within reasonable range.
medical_data_copy['Income'].describe()

count      7536.000000
mean      40484.438268
std       28664.861050
min         154.080000
25%       19450.792500
50%       33942.280000
75%       54075.235000
max      207249.130000
Name: Income, dtype: float64

Now to check on the last 8 items to make sure that the data is within 1-8.

In [12]:
# Verify to make sure its 1-8
medical_data_copy['Item1'].value_counts()

4    3455
3    3404
5    1377
2    1315
6     225
1     213
7      10
8       1
Name: Item1, dtype: int64

In [13]:
# Verify Item2 to make sure its 1-8
medical_data_copy['Item2'].value_counts()

3    3439
4    3351
5    1421
2    1360
1     213
6     204
7      12
Name: Item2, dtype: int64

In [14]:
# Verify Item3 to make sure its 1-8
medical_data_copy['Item3'].value_counts()

4    3464
3    3379
5    1358
2    1356
6     220
1     211
7      11
8       1
Name: Item3, dtype: int64

In [15]:
# Verify Item4 to make sure its 1-8
medical_data_copy['Item4'].value_counts()

3    3422
4    3394
5    1388
2    1346
6     231
1     207
7      12
Name: Item4, dtype: int64

In [16]:
# verify Item5 to make sure its 1-8
medical_data_copy['Item5'].value_counts()

4    3446
3    3423
2    1380
5    1308
6     219
1     211
7      13
Name: Item5, dtype: int64

In [17]:
# Verify Item6 to make sure its 1-8
medical_data_copy['Item6'].value_counts()

4    3464
3    3371
5    1403
2    1319
6     220
1     213
7      10
Name: Item6, dtype: int64

In [18]:
# Verify Item7 to make sure its 1-8
medical_data_copy['Item7'].value_counts()

4    3487
3    3456
2    1345
5    1274
1     215
6     212
7      11
Name: Item7, dtype: int64

In [19]:
# Verify Item8 to make sure its 1-8
medical_data_copy['Item8'].value_counts()

3    3401
4    3337
5    1429
2    1391
6     221
1     209
7      12
Name: Item8, dtype: int64

In [20]:
# Check timezone for data
medical_data_copy['Timezone'].value_counts()

America/New_York                  3889
America/Chicago                   3771
America/Los_Angeles                937
America/Denver                     612
America/Detroit                    262
America/Indiana/Indianapolis       151
America/Phoenix                    100
America/Boise                       86
America/Anchorage                   50
America/Puerto_Rico                 43
Pacific/Honolulu                    34
America/Menominee                   14
America/Nome                        12
America/Indiana/Vincennes            8
America/Kentucky/Louisville          6
America/Sitka                        6
America/Toronto                      5
America/Indiana/Marengo              3
America/Indiana/Tell_City            3
America/North_Dakota/Beulah          2
America/Yakutat                      1
America/Indiana/Winamac              1
America/Indiana/Knox                 1
America/North_Dakota/New_Salem       1
America/Indiana/Vevay                1
America/Adak                         1
Name: Timezone, dtype: int64

In [21]:
# Check for null values 
medical_data_copy.isnull().sum()

CaseOrder                0
Customer_id              0
Interaction              0
UID                      0
City                     0
State                    0
County                   0
Zip                      0
Lat                      0
Lng                      0
Population               0
Area                     0
Timezone                 0
Job                      0
Children              2588
Age                   2414
Education                0
Employment               0
Income                2464
Marital                  0
Gender                   0
ReAdmis                  0
VitD_levels              0
Doc_visits               0
Full_meals_eaten         0
VitD_supp                0
Soft_drink            2467
Initial_admin            0
HighBlood                0
Stroke                   0
Complication_risk        0
Overweight             982
Arthritis                0
Diabetes                 0
Hyperlipidemia           0
BackPain                 0
Anxiety                984
Allergic_rhinitis        0
Reflux_esophagitis       0
Asthma                   0
Services                 0
Initial_days          1056
TotalCharge              0
Additional_charges       0
Item1                    0
Item2                    0
Item3                    0
Item4                    0
Item5                    0
Item6                    0
Item7                    0
Item8                    0
dtype: int64

In [22]:
# Lets look at what columns have null values
null_columns_counts = medical_data_copy.isnull().sum()
null_columns_counts = null_columns_counts[null_columns_counts > 0]
null_columns_counts

Children        2588
Age             2414
Income          2464
Soft_drink      2467
Overweight       982
Anxiety          984
Initial_days    1056
dtype: int64

# D1: Cleaning Findings
There was issues discovered while exploring the data that should be fixed before continueing eith the analysis. First we do not need to worry about the missing data as the columns that have missing data are not needed to answer the research question, so we can just delete those columns from the dataframe. Then for columns that require a yes or no answer are stored here as floats but it will be better to have those columns as boolean data type. Finally for the columns like area, timezones, and education would be changed to categorical as it fits better.

# D2: Justification of Mitigation Methods
For the columns Children, Age, Income, Soft_drink, Overweight, Anxiety, Initial_days we will just delete or columns or create a new dataframe without those columns. As for why we are doing this is because these columns are not needed to answer our research question so we don't need to look into these columns. Another, reason is becuase we cannot just fill in the data from the other rows as this is medical information about patients and we want that to be as accurate as possible. 

For the column timezone, there is going to be a standarized timezone for the columns. Instead of having a timezone for each individual city, we are going to divide them into the standard timezones that these cities fall into. To do this will create a dictionary with the standard timezones and putting the city into their respective timezones. 

For the Gender column we are going to change it to just 'M', 'F', 'NP', instead of the origial, 'Male', 'Female', 'Prefer not to answer'. So we can then change this column into a categorical type. 

Lastly, for all the float and integer columns that are more appropriately to be stored as categorical types will all be changed to categorical types.

# D3: Summary of the Outcomes 
Performing the above cleaning will greatly make it easier to perform any analysis on the data in the future. First, with changing the variables into categorical data it will help with potential values that can be inputed into the column, forcing a standardized entry. With standardizing the restrictions for these columns it will help with the overall process of the analysis. Next, by changing the timezones into the already existing timezones instead of each city having one, it will clean the data and make it easier to read, while working on it.

# D4: Mitigation Code

In [23]:
# Here we are changing the columns to categorical data type 
medical_data_copy[['Area', 'Education', 'Employment', 'Marital', 'Initial_admin', 'Complication_risk', 
                   'Services']] = medical_data_copy[['Area', 'Education', 'Employment', 'Marital', 'Initial_admin', 'Complication_risk', 
                   'Services']].astype('category')

# Change the gender column to what we said earlier
medical_data_copy['Gender'].replace({
                            'Female': 'F',
                            'Male' : 'M',
                            'Prefer not to answer' : 'NP'
                            }, inplace=True)

# Convert gender to categorical data type
medical_data_copy['Gender'] = medical_data_copy['Gender'].astype('category')

# Change the timezone column to timezone specific values
medical_data_copy['Timezone'].replace({
                            'America/New_York': 'Eastern Daylight Time',
                            'America/Chicago': 'Central Daylight Time',
                            'America/Los_Angeles': 'Pacific Daylight Time',
                            'America/Denver': 'Mountain Daylight Time',
                            'America/Detroit': 'Eastern Daylight Time',
                            'America/Indiana/Indianapolis': 'Eastern Daylight Time',
                            'America/Phoenix': 'Mountain Standard Time',
                            'America/Boise': 'Mountain Daylight Time',
                            'America/Ancorage': 'Alaska Daylight Time',
                            'America/Puerto_Rico': 'Atlantic Standard Time',
                            'America/Honolulu': 'Hawaii-Aleutian Standard Time',
                            'America/Menominie': 'Central Daylight Time',
                            'America/Nome': 'Alaska Daylight Time',
                            'America/Indiana/Vincennes': 'Eastern Daylight Time',
                            'America/Kentucky/Louisville': 'Eastern Daylight Time',
                            'America/Sitka': 'Alaska Daylight Time',
                            'America/Toronto': 'Eastern Daylight Time',
                            'America/Indiana/Marengo': 'Eastern Daylight Time',
                            'America/Indiana/Tell_City': 'Central Daylight Time',
                            'America/north_Dakota/Beulah': 'Central Daylight Time',
                            'America/Yakutat': 'Alaska Daylight Time',
                            'America/Indiana/WInamac': 'Eastern Daylight Time',
                            'America/Indiana/Knox': 'Central Daylight Time',
                            'America/North_Dakota/New_Salem': 'Central Daylight Time',
                            'America/Indiana/Vevay': 'Eastern Daylight Time',
                            'America/Adak' : 'Hawaii-Aleutian Standard Time'
                            }, inplace=True)

# Convert timezone to categorical data type
medical_data_copy['Timezone'] = medical_data_copy['Timezone'].astype('category')

# Convert the columns with 1 and 0 to boolean 
medical_data_copy[['ReAdmis', 'HighBlood', 'Stroke', 'Arthritis', 'Diabetes', 'Hyperlipidemia', 
                   'BackPain', 'Reflux_esophagitis', 'Allergic_rhinitis', 'Asthma']] = medical_data_copy[['ReAdmis', 'HighBlood', 'Stroke', 'Arthritis', 'Diabetes', 'Hyperlipidemia', 
                   'BackPain', 'Reflux_esophagitis', 'Allergic_rhinitis', 'Asthma']].astype('bool')

# Now we are going to drop the columns with excessive null values
column_drop = ['Children', 'Age', 'Income', 'Soft_drink', 'Overweight', 'Anxiety', 'Initial_days']
medical_data_copy.drop(columns=column_drop, inplace=True)

In [24]:
medical_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  category
 12  Timezone            10000 non-null  category
 13  Job                 10000 non-null  object
 14  Education           10000 non-null  category
 15  Employment          10000 non-null  category
 16  Marital             10000 non-null  category
 17  Gender              10000 non-null  category
 18  ReAdmis             10000 non-null  bool
 19  VitD_levels         10000 non-null  float64
 20  Doc_visits          10000 non-null  int64
 21  Full_meals_eaten    10000 non-null  int64
 22  VitD_supp           10000 non-null  int64
 23  Initial_admin       10000 non-null  category
 24  HighBlood           10000 non-null  bool
 25  Stroke              10000 non-null  bool
 26  Complication_risk   10000 non-null  category
 27  Arthritis           10000 non-null  bool
 28  Diabetes            10000 non-null  bool
 29  Hyperlipidemia      10000 non-null  bool
 30  BackPain            10000 non-null  bool
 31  Allergic_rhinitis   10000 non-null  bool
 32  Reflux_esophagitis  10000 non-null  bool
 33  Asthma              10000 non-null  bool
 34  Services            10000 non-null  category
 35  TotalCharge         10000 non-null  float64
 36  Additional_charges  10000 non-null  float64
 37  Item1               10000 non-null  int64
 38  Item2               10000 non-null  int64
 39  Item3               10000 non-null  int64
 40  Item4               10000 non-null  int64
 41  Item5               10000 non-null  int64
 42  Item6               10000 non-null  int64
 43  Item7               10000 non-null  int64
 44  Item8               10000 non-null  int64
dtypes: bool(10), category(9), float64(5), int64(14), object(7)
memory usage: 2.2+ MB

In [25]:
medical_data_copy.isnull().sum()

CaseOrder             0
Customer_id           0
Interaction           0
UID                   0
City                  0
State                 0
County                0
Zip                   0
Lat                   0
Lng                   0
Population            0
Area                  0
Timezone              0
Job                   0
Education             0
Employment            0
Marital               0
Gender                0
ReAdmis               0
VitD_levels           0
Doc_visits            0
Full_meals_eaten      0
VitD_supp             0
Initial_admin         0
HighBlood             0
Stroke                0
Complication_risk     0
Arthritis             0
Diabetes              0
Hyperlipidemia        0
BackPain              0
Allergic_rhinitis     0
Reflux_esophagitis    0
Asthma                0
Services              0
TotalCharge           0
Additional_charges    0
Item1                 0
Item2                 0
Item3                 0
Item4                 0
Item5                 0
Item6                 0
Item7                 0
Item8                 0
dtype: int64

# D5: Clean Data
A copy of the cleaned data will be submitted as a CSV file.

In [26]:
# Create a CSV file with the cleaned data
medical_data_copy.to_csv('medical_cleaned_data.csv', index=False)
medical_data_copy.head(5)

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
1,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,-86.72508,...,3191.048774,17939.403420,3,3,2,2,4,3,3,4
2,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,-85.22907,...,4214.905346,17612.998120,3,4,3,4,4,4,3,3
3,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,-96.63772,...,2177.586768,17505.192460,2,4,4,4,3,4,3,3
4,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072,43.89744,-93.51479,...,2465.118965,12993.437350,3,5,5,3,4,5,5,5
5,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181,37.59894,-76.88958,...,1885.655137,3716.525786,2,1,3,3,5,3,4,3

# D6: Limitations
There were some limitations that were faced when cleaning the data. First, it was with looking at the columns with missing data, this caused problems because we could not just fill in the data with the mean or median from the respective columns, as the data we are working with is medical data. Medical data we cannot ethically add data to a patient that they did not provide and it can cause problems in the future. Next, is the data we converted to categorical data, this might not reflect all the possible choices. Lastly, with not being able to fill in the null values and if delete the columns with null values then it will impact the analysis in the future if we are missing important columns.

# D7: Impact of Limitations
If we were to delete the columns with null values then it will cause problems with creating an analysis report as we would have missing data if we happen to need those columns. Then when mentioned above about the columns that were changed to categorical, this might impact the analysis as we do not know the exact amount of categories that we should make. For example, from the given data it might not have all the categories that are required in that columns, so if we collect more data there is always that chance that we missed a category from the ones we created. By deleting the columns with the null values it also made the data provided smaller as we had to delete a few columns for its missing value.

# E1:Principal Components 
To complete the Princiapl Component Analysis (PCA), we need to use quantitative variables. For this part the variables that will be used are population, VitD_levels, Doc_visists, Full_meals_eaten, VitD_supp, Initial_admin, TotalCharge, and Additional_charges. Following the material provided from the WGU readings we will now generate the code to perform a PCA on the data.

In [27]:
# import the libraries we need for PCA
from sklearn.decomposition import PCA

In [28]:
# Store the variables we are going to use
df = medical_data[['VitD_levels', 'Doc_visits', 'Full_meals_eaten', 'VitD_supp', 'TotalCharge', 'Additional_charges']]

# Normalize the data using the mean and standard deviation
df_normalized = (df - df.mean()) / df.std()

# Set the size of the PCA 
pca = PCA(n_components=df.shape[1])

# Fit the normalized data onto the PCA
pca.fit(df_normalized)

# Print the data
df_pca = pd.DataFrame(pca.transform(df_normalized), columns=['PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6'])

# Generate the dataframe for PCA values
pca_loadings = pd.DataFrame(pca.components_.T, columns=['PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6'], index=df.columns)

# Print the PCA values
pca_loadings

                         PC1       PC2       PC3       PC4       PC5       PC6
VitD_levels         0.705720  0.008958 -0.037719 -0.031247  0.014845  0.706583
Doc_visits         -0.002197 -0.103832  0.542854 -0.828031  0.094079 -0.006105
Full_meals_eaten    0.001113  0.763435  0.109210  0.048079  0.634560 -0.016167
VitD_supp           0.031041 -0.539704  0.477444  0.441195  0.533908  0.009620
TotalCharge         0.706361 -0.008459 -0.025348 -0.012644 -0.003760 -0.707224
Additional_charges  0.045210  0.339048  0.680709  0.340974 -0.550628  0.013533

# E2: Criteria Used
Here I will plot the eigenvalues of each principal component, to identify each one. Again we will follow the guide in the notes given to us by the class.